@charset "UTF-8";
.search{margin:20px;}
.navigationbar{width:100%; height:60px;}
#searchbutton{width:80px; height:40px; margin-top:20px;}
#topbar{margin:10px 10px;}
.bg-dark{width:100%; height:100%;}